<div class="row pl-5 ml-5">
  <div
    class="card m-5 border-success col-lg-4 center"
    *ngFor="let excluse of exclusive"
  >
    <div class="card-header bg-transparent border-success">
      {{ excluse.name }}
    </div>
    <div class="card-body text-success">
      <p class="card-text">{{ excluse.description }}</p>
      <a href="#" class="btn btn-success">Book Ticket</a>
    </div>
    <div class="card-footer bg-transparent border-success">
      {{ excluse.date | date: 'shortDate' }}
    </div>
  </div>
</div>
